
/* General style sheet that applies to the entire website */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*:not(input, textarea, button) {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #2f0803;
    color: #ece4e4;
}

/* Allow the navbar and the footer background to stretch to the page edges */
body {
    margin: 0px;
}

/* Default margin settings applied for certain elements */
body .wrapper { 
    margin: 8px;
}

nav { 
    display: flex; 
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
}

nav button {
    flex: 1;
    padding: 1%;
    font-size: 120%;
    border: 7px solid #7f483b;
    border-right: none;
    background-color: #4a1e29;
    color: #ffffff;
}

nav button:hover {
    background-color: #924939;
    cursor: pointer;
}

/* Set buttons focus effect and exclude current webpage from focus and hover effects */
nav button:focus, .currentpage, .currentpage:hover {
    background-color: #652938;
}

.lastbutton {  
    border-right: 7px solid #7f483b;
}

/* rounding meter bar's corners */
meter::-webkit-meter-bar {
  border-radius: 10px;
  background: #ffd9c8;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(#ffd9c8, #c04b3a);
}

/* "Contact me" section*/
#mailtoform {
    display: flex;
    flex-direction: column;
}

/* Specified labels are set on the same row */
#mailtoform .inline-labels {
    display: flex;
    margin-top: 10px;
}

/* Modifiy the content of labels in mailtoform*/
#mailtoform label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1em;
}

#mailtoform input, #mailtoform textarea {
    padding: 0.6em; /* Bigger fields*/
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
}

#mailtoform button {
    align-self: center;
    padding: 6px;
    margin-top: 5px;
    width: 15%;
    font-size: 1.1em;
}

footer {
    padding: 1px;
}

footer, footer *:not(input, textarea, button) {
    background-color: #220501;
}

footer * {
    margin: 8px;
}
