/* Main layout container */
main {
    display: flex;
    gap: 5%;  
}

/* Card's background color */
.card, .card * {
    background-color: rgb(76, 2, 2);
}

.card {
    padding: 20px;
    border-top: 10px  solid rgb(76, 2, 2);
}

.card ul {
    list-style-type: square;
    padding-left: 20px;
}

/* List item spacing in card */
.card li {
    margin-bottom: 10px;
}

.portrait {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: 5px solid #7f483b;
}

/* Skills and goals layout */
article {
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* Equal width for skills and goals sections */
article > * {
    flex: 1;
}

.skills {
    display: flex;
    gap: 3em;
    padding: 5px;
    align-items: center; /* Align meter bars and label texts on the same level */
}

.skills label {
    width: 0; /* Discard current text length to for uniform effects */
    min-width: 50px; /* Set a minimum width as a standard text length  */
}

/* Font size for skills and goals */
article li * {
    font-size: 20px;
}

/* List item marker size */
article li {
    font-size: 30px;
}

/* Skills meter bar styling */
.skills meter {
    width: 90%;
    height: 30px;
}

@media all and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    main .card ul {
        padding-left: 10%;
    }
    section:has(.portrait) {
        display: flex;   
    }
    article {
        flex-direction: column;
    }
}

/* Bigger font size for larger screens */
@media all and (min-width: 1200px) {
    .portrait {
        width: 15vw;
    }
    .about-me, .card li {
        font-size: 1.3em;
    }
    article label, article li * {
        font-size: 23px;
    }
}