
*:not(input, textarea, button) {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #2f0803;
    color: #ece4e4;
}

body {
    margin: 0px;
}

footer {
    padding: 1px;
}

nav { 
    display: flex; 
    margin-top: 2%;
    gap: 0; 
    width: 100%;
}

nav button {
    flex: 1;
    padding: 1%;
    font-size: 120%;
    border: 7px solid #7f483b;
    border-right: none;
    background-color: #4a1e29;
    color: #ffffff;
}

nav button:hover {
    background-color: #924939;
    cursor: pointer;
}

/* Set buttons focus effect and exclude current webpage from focus and hover effects */
nav button:focus, .currentpage, .currentpage:hover {
    background-color: #652938;
}

.lastbutton {  
    border-right: 7px solid #7f483b;
}

main {
    display: flex;
    margin-top: 2%;
    gap: 5%;  
}

.portrait {
    width: 20vw;
    height: auto;
    border-radius: 50%;
}

/* edit the line spaces of the list elements next to the photo */
.portrait + * * {
    margin-bottom: 10px;
}

#mailtoform {
    display: flex;
    flex-direction: column;
}


/* Specified labels are set on the same row */
#mailtoform .inline-labels {
    display: flex;
    margin-top: 10px;
}

/* modifiy the content of labels in mailtoform*/
#mailtoform label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1em;
}

#mailtoform input, #mailtoform textarea {
    padding: 0.6em;
    margin-right: 10px; 
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
}

#mailtoform button {
    align-self: center;
    padding: 6px;
    margin-top: 5px;
    width: 15%;
    font-size: 1.1em;
}

footer, footer *:not(input, textarea, button) {
    background-color: #220501;
}



/* Shrinking rules if webpage window is 600px or smaller */
@media all and (max-width: 800px) {
    main {
        flex-direction: column;
    }
    section:has(.portrait) {
        display: flex;   
    }
    #mailtoform .inline-labels {
    display: flex;
    flex-direction: column;
    }
}
